/* .hero {
  background-image: url("../image/MacBook\ Air\ 2022\ Wallpaper\ 1\ YTECHB.png");
} */

.bg{
  height: 400px;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  filter: brightness(15%);
}

.hero img {
  width: 300px;
}

section {
  scroll-margin-top: 55px;
}

.skill {
  width: fit-content;
  padding: 10px;
  border-radius: 15px;
  margin: 5px;
  background-color: rgb(73, 65, 65);
}

.imgporto {
  transition: 0.5s ease;
  height: 180px;
  object-fit: cover;
}

.imgporto:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  transition: 0.5s ease;
}
.about{
  max-width: 800px;
}

@media only screen and (max-width: 767px) {
  .bg{
    height: 500px;
  }
}

@media only screen and (max-width: 360px) {
  .bg{
    height: 450px;
  }
}